<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="stylee.css">
</head>
<body>
    <page size="A4">
        <div class="page-header">
            <div class="stactic">
                <div class="sppi-logo">
                    <img src="sppi-logo.png" alt="Visa" width="100px" height="100px">
                    <div class="sppi-text">
                        <h3><strong>Static Power Philippines, Inc.</strong></h3>
                        <p>Unit #3D, Glory of God Bldg.,</p>
                        <p>#5 Gen. Lim St., San Antonio Village,</p>
                        <p>Pasig City 1603, Philippines</p>
                        <p>Tel. No.: +632 84773408 Fax No.: +6324772188</p>
                        <p>Website: www.static.ph</p>
                    </div>           
                </div>
                <div class="emp-sheet">
                    <h3>EMPLOYEE'S INFORMATION SHEET (EIS)</h3>
                </div>
            </div>
                <div class="pic-frame">
                    <img src="sppi-logo.png" alt="Visa" width="120px" height="120px">
                </div>  
        </div>
        <div class="personal-data">
            <h5>I. PERSONAL DATA</h5>
            <div class="data-box">
                <div class="col-12">
                    <span class="col-3">
                        <label>Family name</label>
                        Malsi</span>
                    <span class="col-3"><label>First name</label>Johnrod</span>
                    <span class="col-3"><label>Qualifier (sr., jr., II, etc.)</label></span>
                    <span class="col-3"><label>Middle name</label>Acosta</span>
                </div>
                <div class="col-12">
                    <span class="col-10"><label>Permanent Address:</label>Santo Tomas, Isabela</span>
                    <span class="col-10"><label>Present Address:</label>San Antonio Village, Pasig City</span>
                </div>
                <div class="col-12">
                    <span class="col-3"><label>SSS No:</label>536453</span>
                    <span class="col-3"><label>PHILHEALTH No:</label>234543</span>
                    <span class="col-3"><label>Pag IBIG No:</label>8567456</span>
                    <span class="col-3"><label>TIN No:</label>423543</span>
                </div>
                <div class="col-12">
                    <span class="col-3"><label>Sex:</label>Male</span>
                    <span class="col-3"><label>Contact Number:</label>0987654332</span>
                    <span class="col-3"><label>Birthdate(mm/dd/yyy):</label>April 25, 2001</span>
                    <span class="col-3"><label>Birthplace:</label>Santo Tomas, Isabela</span>
                </div>
                <div class="col-12">
                    <span class="col-3"><label>Nationality:</label>Filipino</span>
                    <span class="col-3"><label>Religion:</label>Catholic</span>
                    <span class="col-3"><label>Civil Status:</label>Single</span>
                    <span class="col-3">
                        <span class="col-3" style="margin-right: 40px;"><label>Height:</label>175</span>
                        <span class="col-3"><label>Weight:</label>65</span>
                    </span>
                    
                </div>
                <div class="col-12">
                    <span class="col-10"><label>Email Address:</label>johnrod.a.malsi@gmail.com</span>
                    <span class="col-10"><label>Complete Mothers Maiden Name:</label>Dionisia Paquito Pacquiao Rizal
                    </span>
                </div>
                <div class="col-12">
                    <span class="col-10"><label>Name of Spouse:</label>Bae Suzy</span>
                    <span class="col-10"><label>Spouse's Birthdate (mm/dd/yyy):</label>Dec 25, 2001</span>
                    <span class="col-10"><label>Spouse's Birthplace:</label>Seoul, South Korea</span>
                </div>
                
                <div class="col-12">
                    <table class="tbl">
                        <tr>
                            <th><label>Occupation</label> Name of Children: (Use seperate sheet if needed)</th>
                            <th>Date of Birth</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Mar 2, 2001</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Feb 14, 2001</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Feb 14, 2001</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Feb 14, 2001</td>
                        </tr>
                        </table>
                        <div class="flex-box">
                            <span class="col-3"><label>Father's Name:</label>Elon Musk</span>
                            <span class="col-3"><label>Mother's Name:</label>Anne Curtis</span>
                            <span class="col-3"><label>Contact Person:</label>Bongbong Marcos</span>
                            <span class="col-3"><label>Address:</label>Santo Tomas, Isabela</span>
                        </div>
                </div>
            </div>
            
            <h5>II. QUALIFICATIONS AND EDUCATIONAL BACKGROUND HIGHEST EDUCATIONAL ATTAINMENT</h5>
            <table class="data-box">
                <tr>
                    <th>Level</th>
                    <th>School/College/University</th>
                    <th>Year Graduated</th>
                    <th>Honors/Academic Awards Recieved</th>
                </tr>
                <tr>
                    <td>ELEMENTARY</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>HIGH SCHOOL</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>COLLEGE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Degree Earned:</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>GRADUATE STUDIES</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Degree Earned:</td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>TRADE/VOCATIONAL</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Certificate/Diploma</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <div style="break-after:page"></div>

            <h5>III. WORK EXPERIENCE (Use seperate sheet if necessary)</h5>
            <table class="data-box">
                <tr>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>Tel. No.:</th>
                    <th>Position/Level</th>
                    <th>Previous Salary</th>
                    <th>Inclusive Dates</th>
                    <th>Reason/s of Leaving</th>
                </tr>
                <tr>
                    <td>l</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <h5>IV. SPPI RECORD</h5>
            <table class="data-box">
                <tr>
                    <td><label>Start Date at SPPI:</label>sdafghjk</td>
                    <td><label>SPPI ID No:</label>weerty</td>
                </tr>
                <tr>
                    <td colspan="2"><label>Current Position at SPPI:</label> sd</td>
                </tr>
            </table>

            <h5 class="h5-text">SPPI PROJECT MANAGEMENT <span>(Name of Project involve under SPPI)</span> <br> (Use seperate sheet if necessary)</h5>
            <table class="data-box">
                <tr>
                    <th>Project Name</th>
                    <th>Company Name</th>
                    <th>Started Date</th>
                    <th>Date of Accomplishment</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <h5 class="text-stylee">I hereby certify that all information and data contained herein are true and correct to the best of my knowlegde and that any misrepresentation, falsification or willful omission herein shall establish a valid ground for my disqualification from the position I am applying for and/or dismissal from employement with the company.</h5>
            <div class="signature">
                <div class="sig-text">
                    Employee's Signature Above Printed Name
                </div>
                
            </div>
        </div>
    </page>
</body>
</html>